@media (max-width: 1024px) {

    /* global */
    .wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }

    .headin {
        font-size: 48px;
    }

    /* header */
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header__nav {
        display: none;
    }

    .header__nav-search-innotburger {
        display: block;
    }

    .header__nav-item-active {
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
    }

    .header__nav-list {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px 30px;
        display: flex;
        flex-direction: column;
    }

    .header__nav-item:not(:last-child) {
        padding-right: 0;
        padding-bottom: 20px;
    }

  .header__nav-item:last-child {
        display: none;
    }

    .burger {
      display: block;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      /* transform: rotate(45deg); */
  }

  .burger__menu-item {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      padding-bottom: 60px;
  }

  .burger__menu-item:not(:first-child) {
      margin-top: 7px;
  }


    .header__logo-img {
        width: 150px;
    }

    .serarch {
        padding-left: 50px;
        padding-right: 50px;
    }

    .box {
      padding-left: 50px;
        padding-right: 50px;
    }
    /* hero */
    .hero__container {
        margin-bottom: 80px;
    }

    .hero__slideer {
        padding: 160px 77px;
        height: 650px;
    }

    .hero__headin {
        font-size: 60px;
        line-height: 73px;
        padding-bottom: 16px;
    }

    .hero__description {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 60px;
    }

  .hero__descriptio {
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 60px;
  }

    /* about */
    .about__container {
        margin-bottom: 84px;
    }

    .about__heading {
        padding-bottom: 9px;
    }

    .about__description {
        width: 100%;
        padding-bottom: 62px;
    }

    .about__block {
        flex-direction: column;
    }

    .about__left-block {
        width: 100%;
        height: 640px;
        margin-bottom: 32px;
    }

    .about__right-block {
        max-width: 924px;
    }

    .about__card {
        width: 100%;
        padding-left: 76px;
    }

    .about__description-cards {
        max-width: 470px;
    }

    /* work */
    .work__container {
        margin-bottom: 80px;
    }

    .work__list {
        padding-bottom: 50px;
    }

    .work__left-block {
        width: 437px;
    }

    .work__right-block {
        max-width: 437px;
        height: 689px;
        background-size: cover;
    }

    /* questions */
    .questions__container {
        margin-bottom: 80px;
    }

    .questions__heading {
        padding-bottom: 32px;
    }

    .questions__item {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .questions__heading-item {
        font-size: 20px;
        width: 756px;
    }

    .questions__description {
        margin-bottom: 163px;
    }

    /* footer */
    .footer__item:nth-child(1) {
        max-width: 360px;
    }

    .footer__item:nth-child(2) {
        margin-right: 0px;
        max-width: 550px;
    }

    .footer-form {
        max-width: 541px;
    }

    .footer__input {
        width: 100%;
    }

    .footer__item_width {
        display: none;
    }

    .footer__btn {
        width: 240px;
        padding: 19px 37.5px;
        margin-right: 21px;
    }
}

@media (max-width: 768px) {
    /* header */
    .header {
        height: 69px;
        padding-top: 10px;
    }
    .header__nav-item-active {
        top: 69px;
    }

    /* hero */
    .hero__container {
        padding-top: 69px;
    }

    .hero__slideer {
        padding: 159px 40px;
    }

    .hero__slid {
      padding: 159px 40px;
  }

    .hero__headin {
        font-size: 50px;
        line-height: 61px;
    }

    .hero__description {
        font-size: 18px;
        line-height: 22px;
    }

  .hero__descriptio {
      font-size: 18px;
      line-height: 22px;
  }

  .hero__slideer_bg1 {
    max-height: 669px;
    /* background-image: url("../img/header-img-1.png"); */
  }

  .hero__slideer_bg2 {
    max-height: 669px;
  }

  .hero__slideer_bg3 {
    max-height: 669px;
  }

    /* about */
    .about__left-block {
        height: 650px;
    }

    .about__background {
        padding: 34px 40px;
    }

    .about__description-card {
        max-width: 366px;
    }

    .about__card {
        padding: 35px 40px;
        padding-right: 24px;
    }

    .about__img-card {
        width: 128px;
        padding-right: 16px;
    }

    /* work */
    .work__heading {
        padding-bottom: 44px;
    }
    .work__list {
        display: flex;
        justify-content: space-between;
    }

    .work__item:not(:last-child) {
        margin-right: 0;
    }

    .work__block {
        flex-direction: column-reverse;
    }

    .work__left-block {
        width: 100%;
    }

    .work__description-cards {
        padding-bottom: 86px;
    }

    .work__right-block {
        margin: 0;
        margin-bottom: 38px;
        width: 100%;
        max-width: 668px;
        height: 284px;
    }

    /* questions */
    .questions__heading {
        padding-bottom: 28px;
    }

    .questions__heading-item {
        width: 570px;
    }

    .questions__description {
        margin-bottom: 380px;
    }

    /* footer */

    .footer__item:nth-child(2) {
        padding-bottom: 50px;
    }
    .footer__list {
        flex-direction: column-reverse;
    }

    .footer__list-card {
        display: none;
    }

    .footer__list-link {
        position: static;
    }
}

@media (max-width: 500px) {
     /* global */
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .headin {
        font-size: 24px;
        line-height: 29px;
    }

    .descriptio {
        font-size: 14px;
        line-height: 28px;
    }

    .headin {
      font-size: 24px;
      line-height: 29px;
  }

    /* header */
    .header {
        padding-top: 17px;
    }

    .header__logo-img {
        width: 110px;
    }

    /* hero */
    .hero__container {
        margin-bottom: 60px;
    }

    .swiper-pagination {
        margin-bottom: 0px;
    }

    .swiper-pagination-bullet {
        height: 10px;
        width: 10px;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .hero__slideer {
        padding: 60px 22px;
        text-align: center;
    }


    .hero__headin {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 8px;
    }

    .hero__descriptio {
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 32px;
    }


    .hero__btn {
        padding: 12px 28px;
        font-size: 12px;
        line-height: 15px;
    }

    /* about */
    .about__container {
        margin-bottom: 58px;
    }

    .about__heading {
        padding-bottom: 21px;
    }

    .about__description {
        padding-bottom: 14px;
    }

    .about__left-block {
        height: 200px;
        min-height: 200px;
        position: relative;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 233px;
    }

    .about__background {
        align-items: start;
        padding: 0;
        text-align: start;
        flex-direction: column;
        position: absolute;
        top: 104%;
        background-color: transparent;
    }

    .about__description-card {
        max-width: 500px;
        color: #333333;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        padding-bottom: 11px;
    }

    .about__btn {
        border: 2px solid #ff9900;
        padding: 10px 42px;
        padding-top: 11px;
        font-size: 12px;
        line-height: 15px;
        color: #FF9900;
    }

    .about__card {
        padding: 0;
        border: none;
        flex-direction: column;
    }

    .about__img-card {
        max-width: 84px;
    }

    .about__heading-card {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 6px;
    }

    .about__description-cards {
        font-size: 14px;
        line-height: 28px;
    }

    /* work */
    .work__container {
        margin-bottom: 60px;
    }

    .work__heading {
        padding-bottom: 22px;
    }

    .work__list {
        padding-bottom: 15px;
    }

    .work__item {
        font-size: 14px;
        line-height: 17px;
    }

    .work__heading-card {
        font-size: 18px;
        line-height: 32px;
    }

    .work__description-cards {
        padding-bottom: 55px;
    }

    .work__btn {
        margin: 0;
        font-size: 12px;
        line-height: 15px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 43px;
        padding-right: 43px;
    }

    .work__btn_contract {
        margin-left: 6px;
        padding-left: 31px;
        padding-right: 31px;
    }

    .work__right-block {
        height: 160px;
        margin-bottom: 16px;
    }

    /* questions */
    .questions__container {
        margin-bottom: 60px;
    }

    .questions__heading {
        padding-bottom: 17px;
    }

    .questions__heading-item {
        max-width: 243px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    .questions__btn-icon {
        width: 30px;
        height: 30px;
        background-size: 19px;
    }

    .questions__description {
        margin-bottom: 725px;
    }

    /* footer */
    .footer-container {
        padding-top: 32px;
        padding-bottom: 27px;
    }

    .footer__heading-card {
        padding-bottom: 21px;
    }

    .footer__item:nth-child(1) {
        width: 100%;
        max-width: 500px;
        border-top: 1px solid #595959;
        margin-right: 0;
        padding-top: 16px;
    }

    .footer__item:nth-child(2) {
        padding-bottom: 15px;
    }

    .footer__logo-img {
        display: block;
        margin: auto;
        margin-bottom: 17px;
        width: 131px;
    }

    .footer__list-link {
        justify-content: center;
    }

    .footer__item-link {
        background-size: 40px;
        width: 40px;
        height: 40px;
    }

    .footer__input {
        padding-left: 20px;
    }

    .footer__input_textarea {
        margin-bottom: 25px;
    }

    .footer__group {
        flex-direction: column;
    }
    .footer__btn {
        width: 179px;
        font-size: 12px;
        line-height: 15px;
        padding: 12px;
        margin: 0;
        margin-bottom: 13px;
    }
}
